@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

  body {
  color: #555;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}

#header {
  background-color: #CA8BE8;
  height: 150px;
  line-height: 150px;
}

#header a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover {
  color: #222;
}

#header-title {
  display: block;
  float: left;
  margin-left: 40px;

  font-size: 20px;
  font-weight: bold;
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0;
  margin-right: 40px;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
}

.container {
  max-width: :1000px;
  margin: 0 auto;
}


.switch input {
  opacity: 0;
}

.slider {
  width: 60px;
  height: 30px;
  background: #e5e5e5;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: inset 0 2px 7px rgba(0,0,0,0.4);
}

.slider:before {
  content: '';
  position: absolute;
  height: 26px;
  width: 26px;
  background: linear-gradient(#FFF,#f2f2f2);
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: all 250ms ease-out;
  box-shadow: 0 6px 4px -5px rgba(0,0,0,0.25);
}

input[type=checkbox]:checked + .slider:before {
  left:32px;
}

input[type=checkbox]:checked + .slider {
  background: #CA8BE8;
}

#footer {
  background-color: #CA8BE8;
  padding: 50px 0;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p{
  color: white;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
}

a {
  color: #22262B;
  text-decoration: none;
}

a:hover {
  color: white;
}

.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.post-container:nth-child(odd) {
  background-image: url("images/p-work.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 8%;
}

.post-container:nth-child(even) {
  background-color: #f2f2f2;
  background-image: url("images/p-search.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 8%;
}

.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 17px;
}

.post-author span {
  margin-left: 16px;
}


.post-date {
  color: #D2D2D2;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #333;
}

p {
  line-height: 1.5;
}

.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.about {
  text-align: center;
}
